@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
:root {
  --gradient: linear-gradient(
    90deg,
    rgba(9, 121, 86, 1) 0%,
    rgba(44, 168, 129, 1) 67%
  );
}
*::before::after {
  font-weight: 400;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Poppins", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
}
.error {
  background: rgb(194, 25, 25);
  color: aliceblue;
}
@keyframes slide-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
